body {
    background-color: #fb7b7d;
}
.jumbotron {
    background-color: #fba7ad;
    font-family: 'Montserrat', sans-serif;
}
.form-inline {
    margin-left: 1300px;
}
.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}