.smol-image {
    width: 400px;
    height: 400px;
}
html {
    background-color: #7bfbbf;
}
h1 {
    text-align: center;
    border: 2px solid red;
}
.a {
    list-style-type: square;
}
.b {
    color: red;
}
.c {
    color: blue;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}